/*
** 4) Accueil
*******************************************/

// en version mobile le slider est caché et on affiche alors cette section :

section.header-mobile {

	text-align: center;

	@media only screen and (min-width: $min-tab) {
		display: none;
	}

	img {
		width: 100%;
	}

	p {
		background: #333;
		display: block;
		width: 100%;
		padding: 10px;
		text-align: left;

		a {
		color: #fff;
		font-size: $taille-paragraphe-m;
		font-family: $font-paragraphe;
		line-height: 20px;
		text-decoration: none;

			span {
				text-transform: uppercase;
				font-size: $taille-paragraphe-m;
				font-family: $font-titre;
			}
		}
	}

	a.bouton {
		@media only screen and (max-width: $max-mob) {
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			color: #333;
			font-size: $taille-paragraphe-m;
			font-family: $font-titre;
			margin-top: 15px;
			padding: 10px 20px;
			border: 1px solid #333;
		}
	}
}

.uppertitle {
	text-transform: uppercase;
	font-size: $taille-titres2-d;
	font-family: $font-titre;
}


/*****************************************
***** Projecteur
*****************************************/

section.projecteur {

	position: relative;
	top: 100px;

	@media only screen and (max-width: $max-mob) {
		position: static;
		margin-top: 25px;
		margin-bottom: 50px;
	}
	
	div {
		margin-bottom: 150px;	

		@media only screen and (max-width: $max-mob) {
			margin-bottom: 50px;
		}
	}

	img {
		width: 100%;
		height: auto;
	}

	h3 {
		text-align: center;
		text-transform: uppercase;
		font-family: $font-paragraphe;
		font-size: $taille-paragraphe-d;
		margin-top: 10px;

			a {
				text-decoration: none;
				color: #000;
			}
	}
}
