/*
** 2)
** Classes communes à toutes les pages 
*****************************************/
.bandeau {
	background: rgba(0,0,0,0.6);
	color: #fff;
	position: absolute;
}

.titre {
	font-family: $font-titre;
	font-size: $taille-titres2-d;

	@media only screen and (max-width: $max-mob) {
		font-size: $taille-paragraphe-m;
	}
}

.col-50 {
	width:48%;
	float:left;

	@media only screen and (max-width: $max-tab) {
		width: 100%;
		margin: 0 auto;
		float: none;
	}
}

.col-33 {
	width: 32%;
    float: left;
    margin: 0.6%;

	@media only screen and (max-width: $max-tab) {
		width: 100%;
		margin: 0 auto;
		float: none;
	}
}

.cartel {
	border: 1px solid #000;
	padding: 5px;
}

.paragraphe {
	text-align: justify;
}

.ital {
	font-style: italic;
}

.cache {
	display:none;
}

.zoom {
	overflow:hidden;

	img {
		max-width: 100%;
		transition:all 1s;
	}
	img:hover {
		transform:scale(1.3);
	}
}

.inner {
	max-width: 1120px;
	width: 77%;
	margin: 0 auto;

	@media only screen and (min-width: $min-tab) and (max-width: $max-tab) {
		width: 88%;
	}

	@media only screen and (max-width: $max-mob) {
		width: 93%;
	}
}


/*************************************************
**** Style de balises communs à toutes les pages
*************************************************/

body {
	font-size: 17px;
}

h2 {
	font-size: $taille-titres-d;
	font-family: $font-titre;
	text-transform: uppercase;
	text-align: center;
	margin: 30px 0;

	@media only screen and (max-width: $max-mob) {
			font-size: $taille-titres-m;
		}
}

a {
	text-decoration:none;
}

 
/**********************************
*********** Menu burger 
**********************************/

.menu {
	font-family:$font-titre;
	text-transform:uppercase;
	position:absolute;
	z-index:999;
	width:100%;
	background:#fff;

	img {
		padding:10% 10%;
	}

	a {
		color:#000;
	}

	ul {
		float:right;
		margin-right:10%;

		li {
			padding:30% 15% 0 0;
		}
	}
}

/*************************************
**** Search field en version mobile 
***************************************/

.recherche {
	font-family:$font-paragraphe;

	label {
		display:none;
	}

	a {
		display:none;
	}

	input {
		position:absolute;
		top:4.5%;
		height:5%;
		right:20%;
		width:45%;
	}

	@media only screen and (max-width: $max-tab) {

		position:absolute;
		width:100%;
		z-index:2;
		background:#fff;

		label {
			position:absolute;
			display:block;
			left:40%;
			top:20%;
		}

		a {
			display:block;
			width:50%;
			float:left;
			text-align:center;
			color:#000;
			margin-top:14%;

		}

		input {
			height:20%;
			top:40%;
			left:30%;
		}
	}

	@media only screen and (max-width: $max-mob) {

		label {
			left:30%;
		}
		input {
			height:20%;
			top:40%;
			left:17%;
			width:70%;
		}
	}
}

/*****************************************
** Navigation flotante pour les artistes
******************************************/

.hover-artistes {
	font-family:$font-titre;
	z-index:100;
	background:#000;
	position:absolute;
	width:80%;
	left:10%;
	border:1px solid #fff;

	a {
		color:#fff;
	}

	ul {
		float:left;
		padding-left:4%;
		padding-top:8%;

		li {
			padding-bottom:70%;
		}
	}

	img {
		width:48%;
		margin:0;
	}

	.hover-images {
		float:right;
		width:85%;
		margin-right:-2.5%;

		.left {
			color:#fff;
			width:50%;
			position:absolute;
			left:10%;
			bottom:0;
			background:rgba(0,0,0,0.6);
			padding:2%;
			text-align:center;
		}
		.right {
			position:absolute;
			color:#fff;
			right:0;
			bottom:0;
			width:40%;
			padding:2%;
			background:rgba(0,0,0,0.6);
			text-align:center;
		}	
	}

	@media only screen and (max-width: $max-tab) {
		display:none;
	}

}