$font-titre : 'Raleway'; // Police des titres
$font-paragraphe : 'Open Sans'; // Police des paragraphes


$taille-titres-d : 24px; // Taille des titres en version desktop & tablette
$taille-titres2-d: 20px; // Taille des titres secondaires en version desktop & tablette
$taille-titres-m : 20px; // Taille des titres en version mobile
$taille-paragraphe-d: 17px; // Taille des paragraphes en version desktop & tablette
$taille-paragraphe-m: 14px; // Taille des paragraphes en version mobile

$min-tab: 450px; // Breakpoint min tablette
$max-tab: 800px; // Breakpoint max tablette
$max-mob: 449px; // Breakpoint max mobile
